/* --- Built In --- */
body {
    margin: 0;
    background: green;
}

/* --- General --- */
#bg-colour {
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(45deg, #4C703D 0%, #99C003 10%, #4C703D 20%, #4C703D 100%); */
    background: 
    repeating-conic-gradient(from 90deg at 0% 0%, #4C703D 0deg 10deg, #99C003 20deg 30deg, #4C703D 40deg 45deg,  #99C003 70deg 71deg, #4C703D 75deg 80deg, #99C003 90deg 120deg);
}

/* ====== Galah ====== */

/* --- Gala Head --- */
#bird-head-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 400px;
    z-index: 2;
    animation: head-move 2s infinite;
}
#galah-white-head-with-eye {
    position: relative;
    border-radius: 62% 38% 22% 78% / 67% 83% 17% 33%;
    background:     
    radial-gradient(circle at 225px 105px, #a6818290 5%, #FFFFFF10 19%),
    linear-gradient(180deg, #F4F3FD 0%, #dcb7b8 100%);
    width: 348px;
    height: 150px;
    margin: 0 auto;
    rotate: 5deg;
    z-index: 2
}
#galah-eye {
    position: relative;
    border-radius: 50px;
    background: #2F2D42;
    width: 25px;
    height: 25px;
    top: 130px;
    left: 50px;
    z-index: 3;
    box-shadow:
        0 0 0 9px #B59EB8,
        0 0 0 11px #9c869f,
        0 0 0 16px #B59EB8,
        0 0 0 18px #9c869f;
    margin: 0 auto;
}
#galah-eye-highlight {
    position: relative;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    top: 110px;
    left: 44px;
    z-index: 4;
    background-color: #FFFFFF;
    margin: 0 auto;
}
#galah-pink-lower-head {
    position: relative;
    width: 330px;
    height: 250px;
    top: -90px;
    right: 35px;
    background: radial-gradient(circle, #FC91AD 30%,  #c4496a 100%);
    border-radius: 30% 70% 70% 30% / 70% 0% 70% 70% ;
    margin: 0 auto;
    z-index: 1;
    rotate: 10deg;
}
#galah-top-beak {
    position: relative;
    background: 
    radial-gradient(ellipse farthest-corner at 50% 35%, #00000090 3%, #FFFFFF10 6%),
    linear-gradient(200deg,  #FFFFFF10 50%, #29291f90 90%),
    linear-gradient(145deg,  #ffffff01 60%, #35352b90 70%, #ffffff01 85%),
    linear-gradient(210deg,  #ebebe7 30%, #6f6f63 90%);
    background-blend-mode: overlay;
    clip-path: polygon( 93.722% 52.251%,93.722% 52.251%,94.224% 51.264%,93.849% 49.143%,92.461% 45.978%,89.929% 41.861%,86.117% 36.881%,80.893% 31.129%,74.123% 24.695%,65.673% 17.671%,55.409% 10.145%,43.199% 2.21%,43.199% 2.21%,41.665% 1.546%,40.061% 0.988%,38.441% 0.578%,36.859% 0.359%,35.37% 0.374%,34.029% 0.665%,32.891% 1.277%,32.011% 2.251%,31.442% 3.631%,31.241% 5.459%,31.241% 5.459%,30.696% 8.071%,29.178% 11.374%,26.862% 15.169%,23.922% 19.255%,20.534% 23.433%,16.873% 27.505%,13.113% 31.27%,9.429% 34.529%,5.996% 37.084%,2.99% 38.733%,2.99% 38.733%,1.265% 39.746%,0.379% 40.947%,0.199% 42.295%,0.594% 43.746%,1.431% 45.258%,2.578% 46.789%,3.903% 48.296%,5.274% 49.737%,6.558% 51.069%,7.623% 52.251%,7.623% 52.251%,11.478% 55.732%,16.002% 59.13%,20.997% 62.398%,26.261% 65.495%,31.596% 68.374%,36.8% 70.994%,41.674% 73.308%,46.019% 75.275%,49.633% 76.849%,52.317% 77.986%,52.317% 77.986%,54.341% 78.869%,56.13% 79.675%,57.714% 80.355%,59.123% 80.857%,60.389% 81.132%,61.54% 81.129%,62.609% 80.798%,63.625% 80.089%,64.618% 78.952%,65.62% 77.336%,65.62% 77.336%,66.378% 76.427%,67.474% 75.86%,68.854% 75.723%,70.466% 76.101%,72.258% 77.079%,74.176% 78.743%,76.169% 81.179%,78.182% 84.472%,80.165% 88.709%,82.063% 93.973%,82.063% 93.973%,82.452% 95.105%,82.862% 96.107%,83.29% 96.985%,83.736% 97.743%,84.197% 98.384%,84.674% 98.914%,85.163% 99.336%,85.664% 99.655%,86.176% 99.875%,86.697% 100%,86.697% 100%,88.392% 99.821%,90.123% 98.872%,91.844% 97.288%,93.514% 95.207%,95.087% 92.766%,96.522% 90.1%,97.774% 87.348%,98.8% 84.645%,99.556% 82.129%,100% 79.936%,100% 79.936%,100.056% 77.121%,99.589% 73.996%,98.719% 70.705%,97.57% 67.389%,96.263% 64.192%,94.92% 61.257%,93.663% 58.725%,92.615% 56.74%,91.896% 55.444%,91.629% 54.98%,91.629% 54.98%,91.607% 54.939%,91.56% 54.821%,91.516% 54.636%,91.505% 54.394%,91.555% 54.103%,91.694% 53.773%,91.952% 53.413%,92.356% 53.034%,92.937% 52.643%,93.722% 52.251% );
    width: 120px;
    height: 120px;
    z-index: 5;
    margin: 0 auto;
    top: -280px;
    left: 160px;
    rotate: 30deg;
    animation: chomp-top 2s infinite;
}
#galah-bottom-beak {
    position: relative;
    background: 
    radial-gradient(ellipse 80px 40px at 50px 33px, #00000065 30%, #FFFFFF10 40%),
    linear-gradient(30deg,  #ebebe7 20%, #6f6f63 90%);
    clip-path: polygon( 1.615% 71%,1.615% 71%,3.493% 63.796%,4.747% 56.297%,5.454% 48.661%,5.692% 41.04%,5.539% 33.59%,5.072% 26.466%,4.368% 19.823%,3.506% 13.815%,2.563% 8.597%,1.615% 4.325%,1.615% 4.325%,1.84% 2.892%,2.524% 1.657%,3.684% 0.807%,5.338% 0.528%,7.5% 1.006%,10.19% 2.427%,13.421% 4.977%,17.213% 8.842%,21.58% 14.209%,26.54% 21.264%,26.54% 21.264%,29.169% 25.366%,32.091% 29.874%,35.366% 34.448%,39.054% 38.747%,43.214% 42.429%,47.904% 45.153%,53.184% 46.578%,59.114% 46.362%,65.752% 44.165%,73.158% 39.645%,73.158% 39.645%,76.325% 37.334%,79.255% 35.274%,81.958% 33.459%,84.439% 31.883%,86.706% 30.54%,88.766% 29.424%,90.627% 28.529%,92.295% 27.848%,93.778% 27.376%,95.082% 27.106%,95.082% 27.106%,96.059% 27.045%,96.916% 27.149%,97.658% 27.411%,98.29% 27.825%,98.814% 28.385%,99.238% 29.085%,99.563% 29.919%,99.796% 30.879%,99.94% 31.961%,100% 33.157%,100% 33.157%,99.959% 34.891%,99.791% 36.798%,99.506% 38.863%,99.114% 41.073%,98.626% 43.413%,98.05% 45.871%,97.398% 48.43%,96.68% 51.079%,95.904% 53.801%,95.082% 56.584%,95.082% 56.584%,93.073% 63.622%,91.386% 69.853%,89.82% 75.336%,88.177% 80.129%,86.258% 84.29%,83.863% 87.879%,80.793% 90.953%,76.85% 93.57%,71.832% 95.79%,65.542% 97.67%,65.542% 97.67%,63.447% 98.149%,61.229% 98.581%,58.903% 98.961%,56.479% 99.288%,53.972% 99.56%,51.394% 99.774%,48.757% 99.928%,46.073% 100.018%,43.356% 100.043%,40.618% 100%,40.618% 100%,33.917% 99.593%,27.349% 98.729%,21.097% 97.371%,15.345% 95.483%,10.277% 93.03%,6.076% 89.974%,2.926% 86.28%,1.01% 81.91%,0.512% 76.829%,1.615% 71% );
    width: 80px;
    height: 80px;
    margin: 0 auto;
    top: -340px;
    left: 140px;
    z-index: 4;
    rotate: 10deg;
    animation: chomp-bottom 2s infinite;
}
/* --- Galah Body --- */
#bird-body-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /* top: 40px; */
    bottom: 0;
    margin: 0 auto;
    /* width: 400px; */
    z-index: 1;
}
#galah-body {
    position: relative;
    border-radius: 32% 22% 35% 57% / 58% 53% 29% 27% ;
    width: 350px;
    height: 390px;
    margin: 0 auto;
    top: 290px;
    right: 100px;
    z-index: 1;
    rotate: 10deg;
    background: 
    radial-gradient(ellipse 170px 60px at 190px 50px, #c4496a 30%,  #FC91AD10 100%),
    radial-gradient(circle, #FC91AD 30%,  #c4496a 100%);
}
#galah-wing {
    position: relative;
    border-radius: 60% 40% 91% 9% / 56% 8% 92% 44% ;
    width: 250px;
    height: 350px;
    background: 
    linear-gradient(#C5BEBD 0%, #6A6D72 100%);
    margin: 0 auto;
    top: -80px;
    right: 180px;
    z-index: 5;
    rotate: 15deg;
    animation: wing-rotate 4s infinite;
}

/* --- Animations --- */
@keyframes chomp-top {
    0% {rotate: 30deg;}
    50% {rotate: 10deg;}
    100% {rotate: 30deg;}
} 
@keyframes chomp-bottom {
    0% {rotate: 30deg;}
    50% {rotate: 50deg;}
    100% {rotate: 30deg;}
} 
@keyframes head-move {
    0% {top: 0px; right: 0px;}
    50% {top: 40px; right: -40px;}
    100% {top: 0px; right: 0px;}
}
@keyframes wing-rotate {
    0% {rotate: 15deg; right: 180px;}
    25% {rotate: 0deg; right: 220px;}
    50% {rotate: 30deg; right: 180px;}
    75% {rotate: 0deg; right: 220px;}
    100% {rotate: 15deg; right: 180px;}
}


/* --- Background --- */
.leaf-rotation {
    border-radius: 69% 31% 100% 0% / 100% 0% 100% 0% ;
    background: linear-gradient(165deg, #2e4723 0%, #2e4723 38%, #4e703f 43%, #4e703f 44%, #2e4723 48%, #608750 100%);
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 100px;    
}
#leaf-1 {
    rotate: -40deg;
    z-index: 9;
    top: 80px;
    right: 90px;
    
}
#leaf-2 {
    rotate: -80deg;
    z-index: 7;
    top: 20px;
    right: 150px;
}
#branch {
    position: relative;
    z-index: 1;
    top: -100px;
    left: 150px;
    width: 500px;
    height: 400px;
    clip-path: polygon( 44.632% 30.285%,44.632% 30.285%,42.762% 28.592%,40.402% 26.736%,37.663% 24.766%,34.655% 22.738%,31.487% 20.702%,28.269% 18.711%,25.11% 16.818%,22.12% 15.075%,19.408% 13.535%,17.085% 12.25%,0.228% 0.113%,42.622% 0.113%,64.641% 27.052%,64.641% 27.052%,65.297% 27.087%,65.92% 27.159%,66.51% 27.265%,67.068% 27.403%,67.593% 27.569%,68.087% 27.76%,68.551% 27.975%,68.983% 28.209%,69.385% 28.46%,69.758% 28.726%,69.758% 28.726%,70.28% 29.162%,70.733% 29.614%,71.117% 30.073%,71.435% 30.527%,71.688% 30.966%,71.878% 31.379%,72.007% 31.755%,72.075% 32.083%,72.085% 32.353%,72.038% 32.553%,72.038% 32.553%,71.998% 32.62%,71.946% 32.668%,71.882% 32.697%,71.807% 32.706%,71.721% 32.693%,71.624% 32.657%,71.516% 32.598%,71.397% 32.515%,71.268% 32.406%,71.128% 32.27%,71.128% 32.27%,70.559% 31.771%,69.918% 31.357%,69.224% 31.023%,68.499% 30.76%,67.764% 30.561%,67.038% 30.42%,66.342% 30.329%,65.697% 30.281%,65.123% 30.268%,64.641% 30.285%,64.641% 30.285%,65.194% 31.313%,65.869% 32.53%,66.648% 33.892%,67.51% 35.352%,68.435% 36.866%,69.405% 38.389%,70.398% 39.876%,71.395% 41.282%,72.376% 42.561%,73.321% 43.669%,73.321% 43.669%,74.324% 44.857%,75.465% 46.358%,76.706% 48.104%,78.01% 50.023%,79.338% 52.046%,80.652% 54.101%,81.915% 56.12%,83.089% 58.031%,84.135% 59.764%,85.016% 61.25%,85.016% 61.25%,86.607% 61.344%,88.339% 61.424%,90.142% 61.497%,91.949% 61.568%,93.692% 61.643%,95.301% 61.727%,96.709% 61.827%,97.847% 61.947%,98.647% 62.093%,99.041% 62.271%,99.041% 62.271%,99.174% 62.453%,99.266% 62.634%,99.323% 62.813%,99.354% 62.991%,99.366% 63.167%,99.366% 63.341%,99.363% 63.515%,99.363% 63.687%,99.375% 63.858%,99.406% 64.029%,99.406% 64.029%,99.472% 64.233%,99.557% 64.428%,99.655% 64.614%,99.757% 64.79%,99.854% 64.956%,99.94% 65.111%,100.006% 65.255%,100.043% 65.388%,100.044% 65.509%,100% 65.617%,97.67% 68.282%,97.67% 68.282%,97.816% 68.772%,97.943% 69.302%,98.034% 69.84%,98.073% 70.354%,98.046% 70.813%,97.935% 71.186%,97.726% 71.44%,97.401% 71.544%,96.947% 71.466%,96.345% 71.175%,96.345% 71.175%,95.63% 70.829%,94.855% 70.598%,94.042% 70.467%,93.212% 70.423%,92.384% 70.452%,91.578% 70.538%,90.816% 70.667%,90.117% 70.826%,89.501% 71%,88.99% 71.175%,88.99% 71.175%,90.05% 72.258%,91.13% 73.945%,92.206% 76.089%,93.256% 78.542%,94.255% 81.156%,95.181% 83.784%,96.008% 86.278%,96.715% 88.49%,97.277% 90.273%,97.67% 91.478%,97.67% 91.478%,97.892% 92.34%,97.957% 93.184%,97.867% 94.006%,97.622% 94.798%,97.225% 95.554%,96.677% 96.268%,95.98% 96.932%,95.135% 97.541%,94.145% 98.088%,93.011% 98.567%,93.011% 98.567%,92.465% 98.781%,91.959% 99.002%,91.489% 99.222%,91.052% 99.432%,90.644% 99.623%,90.263% 99.787%,89.906% 99.915%,89.569% 99.999%,89.25% 100.03%,88.945% 100%,88.945% 100%,88.613% 99.881%,88.29% 99.66%,87.973% 99.324%,87.656% 98.861%,87.336% 98.259%,87.007% 97.506%,86.666% 96.588%,86.307% 95.494%,85.926% 94.21%,85.519% 92.726%,85.519% 92.726%,84.706% 90.145%,83.584% 87.253%,82.215% 84.141%,80.665% 80.899%,78.996% 77.616%,77.274% 74.383%,75.562% 71.289%,73.924% 68.425%,72.425% 65.88%,71.128% 63.745%,71.128% 63.745%,70.175% 63.989%,69.513% 64.933%,69.09% 66.406%,68.857% 68.232%,68.763% 70.238%,68.758% 72.25%,68.791% 74.094%,68.812% 75.597%,68.77% 76.584%,68.616% 76.881%,68.616% 76.881%,68.585% 76.86%,68.55% 76.823%,68.513% 76.771%,68.473% 76.703%,68.429% 76.619%,68.382% 76.518%,68.332% 76.4%,68.278% 76.264%,68.22% 76.111%,68.159% 75.939%,68.159% 75.939%,67.787% 74.618%,67.539% 73.185%,67.399% 71.678%,67.352% 70.136%,67.382% 68.596%,67.475% 67.097%,67.614% 65.676%,67.785% 64.373%,67.971% 63.225%,68.159% 62.271%,68.159% 62.271%,67.868% 61.714%,67.459% 60.953%,66.934% 59.992%,66.292% 58.834%,65.533% 57.484%,64.657% 55.946%,63.664% 54.222%,62.554% 52.317%,61.326% 50.235%,59.982% 47.979%,59.982% 47.979%,58.501% 45.659%,56.893% 43.396%,55.202% 41.216%,53.47% 39.142%,51.741% 37.198%,50.056% 35.409%,48.46% 33.799%,46.996% 32.392%,45.705% 31.213%,44.632% 30.285% );
    background: red;
    /* margin: 0 auto; */

}

/* --- Media Queries --- */
@media only screen and (min-width: 780px) {
    #bird-container {
        transform: scale(90%);
    }
}

@media only screen and (max-width: 779px) {
    #bird-container {
        transform: scale(80%);
    }
}

@media only screen and (max-width: 604px) {
    #bird-container {
        transform: scale(60%);
    }
}

@media only screen and (max-width: 442px) {
    #bird-container {
        transform: scale(40%);
    }
}