/* --- Built In --- */
body {
    margin: 0;
    background: green;
}

/* --- Generic Classes --- */
.position-absolute {
    position: absolute;
}
.d-flex {
    display: flex;
}

/* --- Galah --- */
#bird-head-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* padding-top: 50px; */
    position: relative;
    border: 2px solid red;
    width: 400px;
}
#galah-white-head-with-eye {
    position: relative;
    border-radius: 62% 38% 22% 78% / 67% 83% 17% 33%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, #F4F3FD 0%, #dcb7b8 100%);
    width: 348px;
    height: 150px;
    margin: 0 auto;
    rotate: 5deg;
    z-index: 2
}
#galah-eye {
    position: relative;
    border-radius: 50px;
    background: #2F2D42;
    width: 25px;
    height: 25px;
    top: 130px;
    left: 50px;
    z-index: 3;
    box-shadow:
        0 0 0 9px #B59EB8,
        0 0 0 11px #9c869f,
        0 0 0 16px #B59EB8,
        0 0 0 18px #9c869f;
    margin: 0 auto;
}
#galah-eye-highlight {
    position: relative;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    top: 110px;
    left: 44px;
    z-index: 4;
    background-color: #FFFFFF;
    margin: 0 auto;
}
#galah-pink-lower-head {
    position: relative;
    width: 330px;
    height: 250px;
    top: -90px;
    right: 35px;
    background: radial-gradient(circle, #FC91AD 30%,  #c4496a 100%);
    border-radius: 30% 70% 70% 30% / 70% 0% 70% 70% ;
    margin: 0 auto;
    z-index: 1;
    rotate: 10deg;
}
#galah-top-beak {
    position: relative;
    background: linear-gradient(210deg,  #ebebe7 30%, #6f6f63 90%);
    clip-path: polygon( 93.722% 52.251%,93.722% 52.251%,94.224% 51.264%,93.849% 49.143%,92.461% 45.978%,89.929% 41.861%,86.117% 36.881%,80.893% 31.129%,74.123% 24.695%,65.673% 17.671%,55.409% 10.145%,43.199% 2.21%,43.199% 2.21%,41.665% 1.546%,40.061% 0.988%,38.441% 0.578%,36.859% 0.359%,35.37% 0.374%,34.029% 0.665%,32.891% 1.277%,32.011% 2.251%,31.442% 3.631%,31.241% 5.459%,31.241% 5.459%,30.696% 8.071%,29.178% 11.374%,26.862% 15.169%,23.922% 19.255%,20.534% 23.433%,16.873% 27.505%,13.113% 31.27%,9.429% 34.529%,5.996% 37.084%,2.99% 38.733%,2.99% 38.733%,1.265% 39.746%,0.379% 40.947%,0.199% 42.295%,0.594% 43.746%,1.431% 45.258%,2.578% 46.789%,3.903% 48.296%,5.274% 49.737%,6.558% 51.069%,7.623% 52.251%,7.623% 52.251%,11.478% 55.732%,16.002% 59.13%,20.997% 62.398%,26.261% 65.495%,31.596% 68.374%,36.8% 70.994%,41.674% 73.308%,46.019% 75.275%,49.633% 76.849%,52.317% 77.986%,52.317% 77.986%,54.341% 78.869%,56.13% 79.675%,57.714% 80.355%,59.123% 80.857%,60.389% 81.132%,61.54% 81.129%,62.609% 80.798%,63.625% 80.089%,64.618% 78.952%,65.62% 77.336%,65.62% 77.336%,66.378% 76.427%,67.474% 75.86%,68.854% 75.723%,70.466% 76.101%,72.258% 77.079%,74.176% 78.743%,76.169% 81.179%,78.182% 84.472%,80.165% 88.709%,82.063% 93.973%,82.063% 93.973%,82.452% 95.105%,82.862% 96.107%,83.29% 96.985%,83.736% 97.743%,84.197% 98.384%,84.674% 98.914%,85.163% 99.336%,85.664% 99.655%,86.176% 99.875%,86.697% 100%,86.697% 100%,88.392% 99.821%,90.123% 98.872%,91.844% 97.288%,93.514% 95.207%,95.087% 92.766%,96.522% 90.1%,97.774% 87.348%,98.8% 84.645%,99.556% 82.129%,100% 79.936%,100% 79.936%,100.056% 77.121%,99.589% 73.996%,98.719% 70.705%,97.57% 67.389%,96.263% 64.192%,94.92% 61.257%,93.663% 58.725%,92.615% 56.74%,91.896% 55.444%,91.629% 54.98%,91.629% 54.98%,91.607% 54.939%,91.56% 54.821%,91.516% 54.636%,91.505% 54.394%,91.555% 54.103%,91.694% 53.773%,91.952% 53.413%,92.356% 53.034%,92.937% 52.643%,93.722% 52.251% );
    width: 120px;
    height: 120px;
    z-index: 5;
    margin: 0 auto;
    top: -280px;
    left: 160px;
    rotate: 30deg;
}
#galah-bottom-beak {
    position: relative;
    background: linear-gradient(30deg,  #ebebe7 20%, #6f6f63 90%);
    clip-path: polygon( 1.615% 71%,1.615% 71%,3.493% 63.796%,4.747% 56.297%,5.454% 48.661%,5.692% 41.04%,5.539% 33.59%,5.072% 26.466%,4.368% 19.823%,3.506% 13.815%,2.563% 8.597%,1.615% 4.325%,1.615% 4.325%,1.84% 2.892%,2.524% 1.657%,3.684% 0.807%,5.338% 0.528%,7.5% 1.006%,10.19% 2.427%,13.421% 4.977%,17.213% 8.842%,21.58% 14.209%,26.54% 21.264%,26.54% 21.264%,29.169% 25.366%,32.091% 29.874%,35.366% 34.448%,39.054% 38.747%,43.214% 42.429%,47.904% 45.153%,53.184% 46.578%,59.114% 46.362%,65.752% 44.165%,73.158% 39.645%,73.158% 39.645%,76.325% 37.334%,79.255% 35.274%,81.958% 33.459%,84.439% 31.883%,86.706% 30.54%,88.766% 29.424%,90.627% 28.529%,92.295% 27.848%,93.778% 27.376%,95.082% 27.106%,95.082% 27.106%,96.059% 27.045%,96.916% 27.149%,97.658% 27.411%,98.29% 27.825%,98.814% 28.385%,99.238% 29.085%,99.563% 29.919%,99.796% 30.879%,99.94% 31.961%,100% 33.157%,100% 33.157%,99.959% 34.891%,99.791% 36.798%,99.506% 38.863%,99.114% 41.073%,98.626% 43.413%,98.05% 45.871%,97.398% 48.43%,96.68% 51.079%,95.904% 53.801%,95.082% 56.584%,95.082% 56.584%,93.073% 63.622%,91.386% 69.853%,89.82% 75.336%,88.177% 80.129%,86.258% 84.29%,83.863% 87.879%,80.793% 90.953%,76.85% 93.57%,71.832% 95.79%,65.542% 97.67%,65.542% 97.67%,63.447% 98.149%,61.229% 98.581%,58.903% 98.961%,56.479% 99.288%,53.972% 99.56%,51.394% 99.774%,48.757% 99.928%,46.073% 100.018%,43.356% 100.043%,40.618% 100%,40.618% 100%,33.917% 99.593%,27.349% 98.729%,21.097% 97.371%,15.345% 95.483%,10.277% 93.03%,6.076% 89.974%,2.926% 86.28%,1.01% 81.91%,0.512% 76.829%,1.615% 71% );
    width: 80px;
    height: 80px;
    margin: 0 auto;
    top: -340px;
    left: 140px;
    z-index: 4;
    rotate: 10deg;
}